<div *ngIf="skills.length || (isAdmin  && !noButton)" class="body-container">
    <div class="title">
        <app-title [title]="title" fontSize="25"></app-title>
        <app-button *ngIf="isAdmin  && !noButton" type="add" width="40" height="50" (click)="addSkill()">
        </app-button>
      </div>
    <div *ngIf="!skills.length && !noButton">
        <h3>No hay ningun skill agregado</h3>
    </div>
    <div class="skills">
        <div class="container">
            <div *ngFor="let skill of skills">
                <div class="buttons">
                    <app-button *ngIf="isAdmin && !noButton" type="edit" width="40" height="50" (click)="openUpdateModal(skill)">
                    </app-button>
                    <app-button *ngIf="isAdmin && !noButton" type="delete" width="40" height="50" (click)="delete(skill.id)">
                    </app-button>
                </div>
                <div class="card">
                    <div class="box">
                        <div class="percent">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle [style.--percent]="skill.percent" cx="70" cy="70" r="70"></circle>
                            </svg>
                            <div class="num">
                              <h3>{{skill.percent+'%'}}</h3>
                            </div>
                        </div>
                        <h2>{{skill.name}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-modal 
        [active]="activeModal" 
        title="Skills" 
        [(settings)]="modalSetting" 
        (settingsChange)="onUpdate()" 
        (closeModalEvent)="cancel()"
    ></app-modal>
</div>