<footer class="flex-rw">
    <div class="footer-list-top"></div>
    <section class="footer-social-section flex-rw">
        <span class="footer-social-overlap footer-social-connect">
            CAPACIDAD <span class="footer-social-small">de</span> CREAR
        </span>
        <span class="footer-social-overlap footer-social-icons-wrapper">
            <app-social-media [size]=5 [noButton]="true"></app-social-media>
        </span>>
    </section>
    <section class="footer-bottom-section flex-rw">
        <div class="footer-bottom-wrapper">
            <i class="fa fa-copyright" role="copyright">

            </i> 2022 Belen Veron <address class="footer-address" role="company address">Argentina</address><span
                class="footer-bottom-rights"> - Derechos reservados - </span>
        </div>
        <div class="footer-bottom-wrapper">
            <a href="" class="generic-anchor" rel="nofollow">Terminos</a> | <a href="" class="generic-anchor"
                rel="nofollow">Condiciones</a>
        </div>
    </section>
</footer>