<footer class="flex-rw">
    <div class="footer-list-top"></div>
    <section class="footer-social-section flex-rw">
        <span class="footer-social-overlap footer-social-connect">
            CAPACIDAD <span class="footer-social-small">de</span> CREAR
        </span>
        <span class="footer-social-overlap footer-social-icons-wrapper">
            <app-image type="instagram" [height]=30 link="https://www.instagram.com"></app-image>
            <app-image type="facebook" [height]=30 link="https://www.facebook.com"></app-image>
            <app-image type="twitter" [height]=30 link="https://www.twitter.com"></app-image>
            <app-image type="youtube" [height]=30 link="https://www.youtube.com"></app-image>
            <app-image type="linkedin" [height]=30 link="https://www.linkedin.com"></app-image>
        </span>
    </section>
    <section class="footer-bottom-section flex-rw">
        <div class="footer-bottom-wrapper">
            <i class="fa fa-copyright" role="copyright">

            </i> 2022 Belen Veron <address class="footer-address" role="company address">Argentina</address><span
                class="footer-bottom-rights"> - Derechos reservados - </span>
        </div>
        <div class="footer-bottom-wrapper">
            <a href="" class="generic-anchor" rel="nofollow">Terminos</a> | <a href="" class="generic-anchor"
                rel="nofollow">Condiciones</a>
        </div>
    </section>
</footer>