<div class="hero" [ngStyle]="{'background-image': 'url('+ source +')'}">
    <div [ngClass]="'container ' + animation">
      <div class="content">
          <div class="button">
            <app-button *ngIf="isAdmin && !noButton" type="edit" width="40" height="50" (click)="openUpdateModal()">
            </app-button>
          </div>
          <h1>Portafolio <br>Personal.</h1>
          <p>Se presenta curriculum en formato Website</p>
        </div>
    </div>
</div>
<app-modal [source]="source" [active]="activeModal" title="Hero" [(settings)]="modalSetting" (settingsChange)="onUpdate()" (closeModalEvent)="cancel()"></app-modal>
