:host div{
    background-color: rgba(247, 247, 247, 0);
    display: flex;
    align-items: center;
    cursor: pointer;
}

:host img {
    padding: 0.25rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: var(--heightImg);
}

:host h6 {
    color: white;
    margin: 0 0 0 10px;
    line-height: 0;
    font-size: 20px;
    font-style: italic;
}

/* ///////////// type a ///////////////// */
a {
    text-decoration: none;
    font-size: var(--font-size);
    margin: 0 5px 0 5px;
  }
  .generic-anchor {
    color: #8DB9ED;
  }
  .generic-anchor:hover {
    color: #ccc;
  }
