<nav>
    <div class="logo">
        <app-image type="logo" [height]=40 [textLogo]="textLogo"></app-image>
    </div>

    <div class="toggle">
        <button type="submit">Toggle</button>
    </div>
    
    <div class="navbar-buttons">
        <app-image type="instagram" [height]=30 link="https://www.instagram.com"></app-image>
        <app-image type="facebook" [height]=30 link="https://www.facebook.com"></app-image>
        <app-image type="twitter" [height]=30 link="https://www.twitter.com"></app-image>
        <app-image type="youtube" [height]=30 link="https://www.youtube.com"></app-image>
        <app-image type="linkedin" [height]=30 link="https://www.linkedin.com"></app-image>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </div>
</nav>
