<nav>
    <app-image type="logo" [height]=40 [textLogo]="textLogo"></app-image>

    <div class="toggle">
        <button type="submit">Toggle</button>
    </div>

    <div class="navbar-buttons">
        <app-social-media [noButton]="noButton" [style.margin-right.rem]="1"></app-social-media>
        <app-button text="Login" *ngIf="!isLogged" routerLink="/login"></app-button>
        <app-button text="Index" *ngIf="isLogged" routerLink="/index"></app-button>
        <app-button [style.margin-left.px]="10" text="Editar" *ngIf="isLogged" routerLink="/edit"></app-button>
        <app-button [style.margin-left.px]="10" text="Logout" *ngIf="isLogged" (click)="onLogOut()"
            routerLink="/index"></app-button>
    </div>
</nav>