<app-nav></app-nav>

<div class="overlay">
    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="container">
            <header class="head-form">
                <h2>Log In</h2>
                <p>Login para editar el portafolio</p>
            </header>

            <div class="field-set">
                <app-input type="username" (newValueEvent)="addUsername($event)" [required]="true"></app-input>
                <app-input [ngStyle]="{'margin-top.px':10}" type="password" (newValueEvent)="addPassword($event)"
                    [required]="true"></app-input>

                <div class="buttons">
                    <app-button text="Login" routerLink="/login" [disabled]="!f.valid" type="submit" width="120"
                        height="45" [ngStyle]="{'margin-right.px':10}"></app-button>
                    <app-button text="Volver" routerLink="/" type="submit" width="120" height="45"
                        [ngStyle]="{'margin-left.px':10}"></app-button>
                </div>
            </div>

        </div>

    </form>
</div>