<div class="title">
  <h1>{{title}}</h1>
  <app-button *ngIf="isAdmin" type="add" width="40" height="50" (click)="addCard()">
  </app-button>
</div>
<div *ngIf="noData">
  <h3>No hay ninguna experiencia laboral agregada</h3>
</div>
<div *ngFor="let experience of experiences">
  <div class="container-card">
    <div class="buttons">
      <app-button *ngIf="isAdmin" type="edit" width="40" height="50" (click)="onUpdate()">
      </app-button>
      <app-button *ngIf="isAdmin" type="delete" width="40" height="50" (click)="delete()">
      </app-button>
    </div>
    <div class="blog-card">
      <div class="meta">
        <div class="photo"
          style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)">
        </div>
          <ul class="details">
            <li class="date">Comienzo: Aug. 24, 2015</li>
            <li class="date">Fin: Aug. 24, 2015</li>
          </ul>
        </div>
      <div class="description">
        <h1 *ngIf="!isAdmin">{{experience.degree}}</h1>
        <app-input *ngIf="experience && isAdmin" (newValueEvent)="addDegree($event, experience.id)" classInput="title"
          [value]="experience.degree" [type]="experience.degree"></app-input>
               <app-textarea *ngIf="experience" classTextarea="card" [value]="experience.description"
        [disabled]="!isAdmin"></app-textarea>
      </div>
    </div>
  </div>
</div>
<!-- <div class="title">
  <h1>{{title}}</h1>
  <app-button *ngIf="isAdmin" type="add" width="40" height="50" (click)="addCard()">
  </app-button>
</div>
<div class="container-card">
  <div class="buttons">
    <app-button *ngIf="isAdmin" type="edit" width="40" height="50" (click)="onUpdate()">
    </app-button>
    <app-button *ngIf="isAdmin" type="delete" width="40" height="50" (click)="delete()">
    </app-button>
  </div>
  <div class="blog-card">
    <div class="meta">
      <div class="photo"
        style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
      <ul class="details">
        <li class="date"><a href="#">John Doe</a></li>
        <li class="date">Aug. 24, 2015</li>
        <li class="tags">
          <ul>
            <li><a href="#">Learn</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Learning to Code</h1>
      <h2>Opening a door to the future</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta
        praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <p class="read-more">
        <a href="#">Read More</a>
      </p>
    </div>
  </div>
</div> -->